/*General Styling*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:bisque;
    color: #060606;
    line-height: 1.6;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:20px;
    background-color:white;
     background-image: url("images/novel1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

nav ul li a:hover{
    color:#282317;

}

nav ul li a{
    text-decoration: none;
    align-items: end;
    font-size: 20px;
}

#theme-toggle{
    padding:15px 25px;
    border:none;
    color:black;
    cursor: pointer;
    border-radius: 10px;
}

#theme-toggle:hover{
    opacity:0.8;
}

/*Hero Section*/
.hero{
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/novel10.jpg');
    color:rgb(3, 3, 3);
    background-size: cover;
    background-position: center;
}

.hero-text h2{
    font-size: 60px;
    margin-bottom: 19px;
}

.hero-text p{
    font-size: 25px;
    margin-bottom: 28px;
}

.hero-text input{
    padding:20px;
    width:170px;
    border:none;
    border-radius: 8px;
}

.hero-text button{
    padding: 15px 25px;
    border: none;
    background-color: #ffb703;
    cursor: pointer;
    border-radius: 5px;
}
/*Featured books*/




