/*General Styling*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:bisque;
    color: #060606;
    line-height: 1.6;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color:white;
     background-image: url("images/novel1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



